<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnOWicdCS_UCNkvsw-IH3uFbIxq5y3Qws</string>
	<key>GCM_SENDER_ID</key>
	<string>485984472258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mqttExample</string>
	<key>PROJECT_ID</key>
	<string>motorcontrol-ea9cc</string>
	<key>STORAGE_BUCKET</key>
	<string>motorcontrol-ea9cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485984472258:ios:e15cddafea839cf0d6bf5b</string>
</dict>
</plist>